﻿@model CapstoneBookApp.Models.Library

@{
    ViewBag.Title = "Delete";
}

@{
    Html.RenderPartial("_Navbar");
}

<div class="form form-delete">

    <h3 class="form-delete__text">
        Are you sure you want to delete
        <span>@Html.DisplayFor(model => model.LibraryName)?</span>
    </h3>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-submit">
            <div class="form-submit__buttons">
                <div class="form-cancel">
                    @Html.ActionLink("cancel", "Index")
                </div>
                <div class="form-submit">
                    <input type="submit" value="delete" class="btn" />
                </div>
            </div>
        </div>
    }
</div>
