﻿@model CapstoneBookApp.Models.Library

@{
    ViewBag.Title = "Create";
}

@{
    Html.RenderPartial("_Navbar");
}

<div class="form-title">
    <h2>library</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-item">
            <p class="form-item__label">library name</p>
            <div class="form-item__input">
                @Html.EditorFor(model => model.LibraryName, new { htmlAttributes = new { @class = "form-item__input-field" } })
            </div>
            @Html.ValidationMessageFor(model => model.LibraryName, "", new { @class = "form-item__validation" })
        </div>

        <div class="form-item">
            <p class="form-item__label">manager</p>
            <div class="form-item__input">
                @Html.EditorFor(model => model.Manager, new { htmlAttributes = new { @class = "form-item__input-field" } })
            </div>
            @Html.ValidationMessageFor(model => model.Manager, "", new { @class = "form-item__validation" })
        </div>

        <div class="form-submit">
            <div class="form-submit__buttons">
                <div class="form-cancel">
                    @Html.ActionLink("cancel", "Index")
                </div>
                <div class="form-submit">
                    <input type="submit" value="submit" class="btn" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


