﻿@model IEnumerable<CapstoneBookApp.Models.Library>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles.css">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,400i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <title>Bookworld</title>
    @Styles.Render("~/Content/css")
</head>
<body>

    @{
        Html.RenderPartial("_Navbar");
    }

    <div class="main">

        <p class="main-title">libraries</p>
        <a class="btn add-new" href="@(Url.Action("Create", "Libraries"))"><div>add a library</div></a>

        <div class="list">

            <div class="list-header">
                <h3 class="list-header__item lib-name">Library</h3>
                <h3 class="list-header__item lib-manager">Manager</h3>
            </div>

            <div class="item-list">

                @foreach (var item in Model)
                {
                    <div class="list-row">
                        <p class="row-item lib-name">
                            @Html.DisplayFor(modelItem => item.LibraryName)
                        </p>
                        <p class="row-item lib-manager">
                            @Html.DisplayFor(modelItem => item.Manager)
                        </p>

                        <span class="edit-btn libraries-edit">
                            <a class="edit" href="@Url.Action("Edit", "Libraries", new { id = item.LibraryID })"><i class="fas fa-edit"></i></a>
                            <a class="delete" href="@Url.Action("Delete", "Libraries", new { id = item.LibraryID })"><i class="fas fa-trash"></i></a>
                        </span>
                    </div>
                }

            </div>

        </div>

    </div>


</body>
</html>


