﻿@model CapstoneBookApp.Models.Copy

@{
    ViewBag.Title = "Create";
}

@{
    Html.RenderPartial("_Navbar");
}

<div class="form-title">
    <h2>copy</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-item">
            <p class="form-item__label">book</p>
            <div class="form-item__input">
                @Html.DropDownList("BookID", null, htmlAttributes: new { @class = "form-item__input-field" })
            </div>
            @Html.ValidationMessageFor(model => model.BookID, "", new { @class = "form-item__validation" })
        </div>

        <div class="form-item">
            <p class="form-item__label">library</p>
            <div class="form-item__input">
                @Html.DropDownList("LibraryID", null, htmlAttributes: new { @class = "form-item__input-field" })
            </div>
            @Html.ValidationMessageFor(model => model.LibraryID, "", new { @class = "form-item__validation" })
        </div>

        <div class="form-item">
            <p class="form-item__label">checked out?</p>
            <div class="form-item__input">
                @Html.EditorFor(model => model.CheckedOut, new { htmlAttributes = new { @class = "form-item__input-field" } })
            </div>
            @Html.ValidationMessageFor(model => model.CheckedOut, "", new { @class = "form-item__validation" })
        </div>

        <div class="form-item">
            <p class="form-item__label">format</p>
            <div class="form-item__input">
                @Html.EnumDropDownListFor(model => model.BookFormat, new { htmlAttributes = new { @class = "form-item__input-field" } })
            </div>
            @Html.ValidationMessageFor(model => model.BookFormat, "", new { @class = "form-item__validation" })
        </div>

        <div class="form-submit">
            <div class="form-submit__buttons">
                <div class="form-cancel">
                    @Html.ActionLink("cancel", "Index")
                </div>
                <div class="form-submit">
                    <input type="submit" value="submit" class="btn" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

