﻿@model CapstoneBookApp.Models.Copy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Copy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Library.LibraryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Library.LibraryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckedOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckedOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookFormat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookFormat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CopyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
