﻿@model IEnumerable<CapstoneBookApp.Models.Copy>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles.css">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,400i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <title>Bookworld</title>
    @Styles.Render("~/Content/css")
</head>
<body>

    @{
        Html.RenderPartial("_Navbar");
    }

    <div class="main">

        <p class="main-title">copies</p>
        <a class="btn add-new" href="@(Url.Action("Create", "Copies"))"><div>add a copy</div></a>

        <div class="list">

            <div class="list-header">
                <h3 class="list-header__item copy-book">Book </h3>
                <h3 class="list-header__item copy-library">Library</h3>
                <h3 class="list-header__item checked-out">Checked Out</h3>
                <h3 class="list-header__item book-format">Format</h3>
            </div>

            <div class="item-list">

                @foreach (var item in Model)
                {
                    <div class="list-row">
                        <p class="row-item copy-book">
                            @Html.DisplayFor(modelItem => item.Book.Title)
                        </p>
                        <p class="row-item copy-library">
                            @Html.DisplayFor(modelItem => item.Library.LibraryName)
                        </p>
                        @if (item.CheckedOut)
                        {
                            <p class="row-item checked-out yes">Yes</p>
                        }
                        else
                        {
                            <p class="row-item checked-out no">No</p>
                        }

                        <p class="row-item book-format">
                            @Html.DisplayFor(modelItem => item.BookFormat)
                        </p>
                        <span class="edit-btn">
                            <a class="edit" href="@Url.Action("Edit", "Copies", new { id = item.CopyID })"><i class="fas fa-edit"></i></a>
                            <a class="delete" href="@Url.Action("Delete", "Copies", new { id = item.CopyID })"><i class="fas fa-trash"></i></a>
                        </span>
                    </div>
                }

            </div>

        </div>

    </div>


</body>
</html>


