﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles.css">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,400i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <title>Bookworld</title>
    @Styles.Render("~/Content/css")
</head>
<body>

    @{ 
        Html.RenderPartial("_Navbar");
    }

    <div class="main">

        <p class="main-title">books</p>
        <div class="btn add-new">add a book</div>

        <div class="list">

            <div class="list-header">
                <h3 class="list-header__item book-title">Title</h3>
                <h3 class="list-header__item book-author">Author</h3>
                <h3 class="list-header__item book-pages">Pages</h3>
                <h3 class="list-header__item book-date">Date</h3>
                <h3 class="list-header__item book-price">Price</h3>
            </div>

            <div class="item-list">

                <div class="list-row">
                    <p class="row-item book-title">The Lord of the Rings</p>
                    <p class="row-item book-author">J.R.R. Tolkien</p>
                    <p class="row-item book-pages">1138</p>
                    <p class="row-item book-date">July 24, 1954</p>
                    <p class="row-item book-price">$0.00</p>
                    <span class="edit-btn">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash"></i>
                    </span>
                </div>
                

                <div class="list-row">
                    <p class="row-item book-title">To Kill a Mockingbird</p>
                    <p class="row-item book-author">Harper Lee</p>
                    <p class="row-item book-pages">296</p>
                    <p class="row-item book-date">July 11, 1960</p>
                    <p class="row-item book-price">$0.00</p>
                    <span class="edit-btn">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash"></i>
                    </span>
                </div>

                <div class="list-row">
                    <p class="row-item book-title">The Bell Jar</p>
                    <p class="row-item book-author">Sylvia Plath</p>
                    <p class="row-item book-pages">244</p>
                    <p class="row-item book-date">January 14, 1963</p>
                    <p class="row-item book-price">$0.00</p>
                    <span class="edit-btn">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash"></i>
                    </span>
                </div>

            </div>

        </div>

    </div>


</body>
</html>
