﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles.css">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,400i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <title>Bookworld</title>
    @Styles.Render("~/Content/css")

</head>
<body>

    @{
        Html.RenderPartial("_Navbar");
    }

    <div class="main">

        <p class="main-title">copies</p>
        <button class="btn add-new">add a copy</button>

        <div class="list">

            <div class="list-header">
                <h3 class="list-header__item checked-out">Checked Out</h3>
                <h3 class="list-header__item checkout-date">Book Format</h3>
            </div>

            <div class="item-list">

                <div class="list-row copies-row">
                    <p class="row-item checked-out">yes</p>
                    <p class="row-item checkout-date">Paperback</p>
                    <span class="edit-btn copies-edit">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash"></i>
                    </span>
                </div>

                <div class="list-row copies-row">
                    <p class="row-item checked-out">no</p>
                    <p class="row-item checkout-date">Ebook</p>
                    <span class="edit-btn copies-edit">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash"></i>
                    </span>
                </div>

            </div>

        </div>

    </div>


</body>
</html>
