﻿@{
    ViewBag.Title = "Home Page";
}

<div class="intro">
    <p class="prequel">welcome to</p>
    <h1 class="title">Bookworld</h1>
    <p class="sequel">where your book, copy, and library dreams come true</p>
</div>

<div class="options-section">

    <p class="prompt">pick your poison...</p>

    <div class="options">
        <a href="@(Url.Action("Index", "Books"))">
            <div class="box">
                <p>books</p>
            </div>
        </a>
        <a href="@(Url.Action("Index", "Copies"))">
            <div class="box">
                <p>copies</p>
            </div>
        </a>
        <a href="@(Url.Action("Index", "Libraries"))">
            <div class="box">
                <p>libraries</p>
            </div>
        </a>
    </div>

</div>