﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles.css">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,400i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <title>Bookworld</title>
    @Styles.Render("~/Content/css")
</head>
<body>

    @{
        Html.RenderPartial("_Navbar");
    }

    <div class="main">

        <p class="main-title">libraries</p>
        <button class="btn add-new">add a library</button>

        <div class="list">

            <div class="list-header">
                <h3 class="list-header__item lib-name">Library Name</h3>
                <h3 class="list-header__item lib-manager">Manager</h3>
            </div>

            <div class="item-list">

                <div class="list-row libraries-row">
                    <p class="row-item lib-name">The Library</p>
                    <p class="row-item lib-manager">Dr. Library</p>
                    <span class="edit-btn libraries-edit">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash"></i>
                    </span>
                </div>

                <div class="list-row libraries-row">
                    <p class="row-item lib-name">The Library II</p>
                    <p class="row-item lib-manager">Dr. Library</p>
                    <span class="edit-btn libraries-edit">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash"></i>
                    </span>
                </div>

                <div class="list-row libraries-row">
                    <p class="row-item lib-name">The Library III</p>
                    <p class="row-item lib-manager">Dr. Library</p>
                    <span class="edit-btn libraries-edit">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash"></i>
                    </span>
                </div>
            </div>

        </div>

    </div>


</body>
</html>
