﻿@model CapstoneBookApp.Models.Book

@{
    ViewBag.Title = "Create";
}

@{
    Html.RenderPartial("_Navbar");
}

<div class="form-title">
    <h2>book</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-item">
            <p class="form-item__label">title</p>
            <div class="form-item__input">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-item__input-field" } })
            </div>
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "form-item__validation" })
        </div>

        <div class="form-item">
            <p class="form-item__label">author</p>
            <div class="form-item__input">
                @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-item__input-field" } })
            </div>
            @Html.ValidationMessageFor(model => model.Author, "", new { @class = "form-item__validation" })
        </div>

        <div class="form-item">
            <p class="form-item__label">pages</p>
            <div class="form-item__input">
                @Html.EditorFor(model => model.Pages, new { htmlAttributes = new { @class = "form-item__input-field" } })
            </div>
            @Html.ValidationMessageFor(model => model.Pages, "", new { @class = "form-item__validation" })
        </div>

        <div class="form-item">
            <p class="form-item__label">date</p>
            <div class="form-item__input">
                @Html.EditorFor(model => model.Published, new { htmlAttributes = new { @class = "form-item__input-field" } })
            </div>
            @Html.ValidationMessageFor(model => model.Published, "", new { @class = "form-item__validation" })
        </div>

        <div class="form-item">
            <p class="form-item__label">price ($)</p>
            <div class="form-item__input">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-item__input-field" } })
            </div>
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "form-item__validation" })
        </div>

        <div class="form-submit">
            <div class="form-submit__buttons">
                <div class="form-cancel">
                    @Html.ActionLink("cancel", "Index")
                </div>
                <div class="form-submit">
                    <input type="submit" value="submit" class="btn" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
