﻿@model IEnumerable<CapstoneBookApp.Models.Book>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles.css">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,400i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <title>Bookworld</title>
    @Styles.Render("~/Content/css")
</head>
<body>

    @{
        Html.RenderPartial("_Navbar");
    }

    <div class="main">

        <p class="main-title">books</p>
        <a class="btn add-new" href="@(Url.Action("Create", "Books"))"><div>add a book</div></a>

        <div class="list">

            <div class="list-header">
                <h3 class="list-header__item book-title">Title</h3>
                <h3 class="list-header__item book-author">Author</h3>
                <h3 class="list-header__item book-pages">Pages</h3>
                <h3 class="list-header__item book-date">Date</h3>
                <h3 class="list-header__item book-price">Price</h3>
            </div>

            <div class="item-list">

                @foreach (var item in Model)
                {
                    <div class="list-row">
                        <p class="row-item book-title">
                            @Html.DisplayFor(modelItem => item.Title)
                        </p>
                        <p class="row-item book-author">
                            @Html.DisplayFor(modelItem => item.Author)
                        </p>
                        <p class="row-item book-pages">
                            @Html.DisplayFor(modelItem => item.Pages)
                        </p>
                        <p class="row-item book-date">
                            @Convert.ToString(string.Format("{0:MMMM dd, yyyy}", item.Published))
                        </p>
                        <p class="row-item book-price">
                            @Convert.ToString(string.Format("{0:c}", item.Price))
                        </p>
                        <span class="edit-btn">
                            <a class="edit" href="@Url.Action("Edit", "Books", new { id = item.BookID })"><i class="fas fa-edit"></i></a>
                            <a class="delete" href="@Url.Action("Delete", "Books", new { id = item.BookID })"><i class="fas fa-trash"></i></a>
                        </span>
                    </div>
                }

            </div>

        </div>

    </div>


</body>
</html>

