﻿*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Vollkorn";
    font-weight: 400;
    font-size: 2.4rem;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

/* intro page */

.intro {
    text-align: center;
    margin: 18rem auto;
}

.title {
    font-weight: 400;
    font-style: italic;
    font-size: 5.6rem;
}

.options-section {
    text-align: center;
    margin-top: 30rem;
    margin-bottom: 15rem;
}

.prompt {
    margin-bottom: 7rem;
}

.options {
    display: flex;
    justify-content: center;
}

.box {
    border: 4px solid black;
    width: 20rem;
    height: 20rem;
    line-height: 20rem;
    text-align: center;
    vertical-align: middle;
    margin: 0 2.5rem;
    position: relative;
}

.box:after {
    transition: all 0.4s ease-in-out;
    opacity: 0;
    content: "";
    border: 4px solid black;
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    z-index: -1;
}

    .box:hover:after {
        opacity: 1;
    }

/* data pages */

.navbar {
    display: flex;
    padding: 4rem 5rem;
    line-height: 3rem;
}

.navbar-header {
    font-style: italic;
    font-size: 3.6rem;
    margin-right: 6rem;
}

.navbar-list {
    display: flex;
    justify-content: start;
}

.navbar-item {
    margin-right: 3.6rem;
}

    .navbar-item:hover {
        text-decoration: underline;
    }

.main {
    padding: 10rem 14rem;
}

.main-title {
    font-size: 3rem;
    display: inline-block;
}

.btn {
    position: relative;
    background: none;
    font-size: 2.4rem;
    padding: 1.2rem 2.4rem;
    border: 4px solid black;
    font-family: 'Vollkorn';
    float: right;
    border-radius: 0px;
}

.add-new {
    display: inline;
}

.btn:focus {
    outline: 0;
}


.btn:hover {
    cursor: pointer;
}

.btn:after {
    transition: all 0.4s ease-in-out;
    opacity: 0;
    content: "";
    border: 2px solid black;
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    z-index: -1;
}

.btn:hover:after {
    opacity: 1;
}

.list {
    margin-top: 16rem;
    width: 75vw;
}

.list-header {
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
}

.list-header__item {
    flex: 1;
    font-size: 2.4rem;
    color: #787878;
    font-weight: 400;
}

/* column flexbox widths */

.book-title {
    flex: 2.5;
}

.book-title.list-header__item {
    flex: 0 0 39.903rem;
}

.book-author {
    flex: 2;
}

.book-author.list-header__item {
    flex: 0 0 31.923rem;
}

.book-pages {
    flex: 1;
}

.book-pages.list-header__item {
    flex: 0 0 15.961rem;
}

.book-date {
    flex: 1.8;
}

.book-date.list-header__item {
    flex: 0 0 28.731rem;
}

.book-price {
    flex: 1;
}

.copy-book {
    flex: 1.2;
}

.copy-book.list-header__item {
    flex: 0 0 41.836rem;
}

.copy-library {
    flex: 1;
}

.copy-library.list-header__item {
    flex: 0 0 34.863rem;
}

.checked-out {
    flex: 1;
}

.checked-out.yes {
    color: #9B4848;
}

.checked-out.no {
    color: #63AB77;
}

.checked-out.list-header__item {
    flex: 0 0 34.863rem;
}

.book-format {
    flex: 0.6;
}

.book-format.list-header__item {
    flex: 0 0 14.279rem;
}

.lib-name {
    flex: 0 0 34.405rem;
}

.lib-name.list-header__item {
    flex: 0 0 34.405rem;
}

.lib-manager {
    flex: 1;
}

.lib-manager.list-header__item {
    flex: 0 0 34.405rem;
}



.item-list {
    margin-top: 5rem;
}

.list-row {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 2.8rem;
    width: 92%;
    position: relative;
}

.list-row.copies-row {
    width: 50%;
}

.list-row.libraries-row {
    width: 70%;
}

.edit-btn {
    display: none;
}


.list-row:hover .edit-btn {
    display: inline;
    position: absolute;
    right: -7rem;
}

.list-row:hover .edit-btn.copies-edit {
    right: -1rem;
}

.list-row:hover .edit-btn.libraries-edit {
    right: 50rem;
}


.edit-btn > .edit, .edit-btn > .delete {
    margin-right: 1rem;
}

/* create/edit page */

.form-title {
    text-align: center;
    padding: 7rem 0;
    margin-bottom: 5rem;
}

.form-title > h2 {
    font-weight: 400;
}

.form {
    padding: 0 20rem;
}

.form-delete {
    margin: 18rem auto;
}

.form-delete__text {
    margin-bottom: 5rem;
    font-weight: 400;
}

.form-delete__text > span {
    font-weight: 700;
}

.form-item {

}

.form-item__label {
    display: inline-block;
    font-weight: 400;
    color: #787878;
    width: 15rem;
}

.form-item__input {
    display: inline-block;
    margin-bottom: 4rem;
}

.form-item__input-field {
    border: none;
    border-bottom: 2px solid #D2D2D2;
    width: 50vw;
    height: 4rem;
    font-size: 2.4rem;
    font-family: 'Vollkorn';
    padding-left: 1rem;
    outline: none;
}

.form-item__input-field.check-box {
    height: 2rem;
    width: 5vw;
}

.form-item_input-field:focus {
    outline: none;
}

.form-item__validation {
    display: block;
    font-size: 2.4rem;
    font-weight: 400;
    color: #9B4848;
    margin-bottom: 5rem;
}

.form-submit {
    margin-bottom: 5rem;
    width: 100%;
    float: right;
}

.form-submit__buttons {
    display: flex;
}

.form-cancel {
    display: inline-block;
    line-height: 6.6rem;
    margin-right: 5rem;
}

.form-submit {
    display: inline-block;
    width: 20rem;
}



