﻿<div class="navbar">
    <a href="@(Url.Action("Index", "Home"))">
        <div class="navbar-header">Bookworld</div>
    </a>
    <div class="navbar-list">
        <a href="@(Url.Action("Index", "Books"))"><div class="navbar-item">books</div></a>
        <a href="@(Url.Action("Index", "Copies"))"><div class="navbar-item">copies</div></a>
        <a href="@(Url.Action("Index", "Libraries"))"><div class="navbar-item">libraries</div></a>
    </div>
</div>